
.mainWrapper2
{
    width:50%;
    border:2px solid black;
    padding:15px;
    margin:auto;
    display:block;
    // margin-top:150px;
    background-color:green;
    height:350px;
}

.mainWrapper3{
    margin-top:100px;
}