
.profileMainWrapper
{
    background-color:purple;
    height:1200px;
    float:left;
    width:100%;
}

.profileFirst
{
    background-color:red;
    height:230px;
    float:left;
    width:18%;
    margin:10px;
}

.profileSecond
{
    background-color:green;
    height:200px;
    float:left;
    width:18%;
    margin:10px;
}

.profileThird
{
    background-color:blue;
    height:200px;
    float:left;
    width:18%;
    margin:10px;

}
.profileFourth
{
    background-color:aquamarine;
    height:200px;
    float:left;
    width:18%;
    margin:10px;
}
.profileFifth
{
    background-color:orangered;
    height:200px;
    float:left;
    width:18%;
    margin:10px;
}