
/*************** text-colors *************************/

  $primaryTextColor:#FFF;

/*************** bg-colors ***************************/

  $primaryBgColor:#6600cc;
  $secondaryBgColor:#ff0000;
  $sectionPrimaryBgColor:#009933;
  $sectionSecondaryBgColor:#0000ff;

/**************** fonts ****************************/

  $primaryFont:Monospace;
  $secondaryFont:Fantasy;
  $menubarFont:Serif;
  $sectionFont:Sans-serif;

