

.topSection
{
width:100%;
height:30px;
float:left;
margin:20px;
//justify-content: space-between;
//background-color: purple;
}

.sections
{
    width:100%;
    height:400px;
    float:left;
    background-color:orangered;
}

.LeftSection
{
    width:50%;
    height:400px;
    float:left;
    background-color:blueviolet;
}

.RightSection
{
    width:50%;
    height:400px;
    float:left;
    background-color:goldenrod; 
}